#login{
	position:fixed;
	top:28%;
	left:30%;
	padding:32px;
	width:40%;
}
#username, #password{
	border:1px solid rgba(0,0,0,0.1);
	border-radius:5px;
	padding:2px 12px;
	width:80%;
	font-family:FontAwesome, roboto;
}
#username:focus, #password:focus{
	box-shadow:inset 0 0 4px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,0.1);
	-moz-box-shadow:inset 0 0 4px rgba(0,0,0,0.1);
	-o-box-shadow:inset 0 0 4px rgba(0,0,0,0.1);
}
#login a{
	margin:0 32px;

}
::-moz-placeholder{
	color:rgba(0,0,0,0.4);
}
::-webkit-input-placeholder{
	color:rgba(0,0,0,0.4);
}
#process-animation{
	display:none;
	text-transform:capitalize;
	font-size:1em;
	font-family:roboto;
}
#process-animation i{
	font-size:0.9em;
}
#error-notif, #error-notif2{
	display:none;
	position:fixed;
	top:0;
	left:44%;
	padding:12px 32px;
	text-align:center;
	font-family:roboto;
	font-size:1em;
	border:1px solid rgba(0,0,0,0.1);
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
#error-notif2{
	left:40%;
}
#redirecting-animation{
	display:none;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(255,255,255,0.8);
	padding:90px 150px;
	font-size:1.7em;
}