.awal{
	width:99.25%;
	height:22%;
	background-color:#f7f7f7;
	position:absolute;
	left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
	padding-left: 10px;
	border-bottom: 6px solid red;
}

.navbar {
	margin-top:10%;
}

.navbar ul {
    list-style-type: none;
	position:absolute;
	left:0;
	right:0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 5px solid red;
	margin-top: -4px;
	padding: 0;
}

.navbar li {
    float: left;
	

}

.navbar li a {
    display: block;
    font-family: fontawesome;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px 25px 20px 25px; 
    text-decoration: none;
}
.navbar li  span {
    display: block;
    font-family: fontawesome;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 16px ;
    text-decoration: none;


}

.navbar li span:hover {
    color: aqua;
}

.navbar li a:hover {
    background-color: red;
}

li a.active {
    background-color: red;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
